@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    background-color: wheat;
    /* background-image: url("assets/images/background.jpg"); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  
  